* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(164, 164, 255, 0.103);
}
.messages, form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btn, #bandName {
    margin: 1%;
}

#btn {
    border: 1px solid black;
    width: 25%;
    height: 25px;
    font-size: 20px;;
}

form {
    text-justify: center;
}

h2 {
    margin: 2%;
    text-align: center;

}

.message {
    margin: 2%;
    font-size: 50px;
    display: flex;
}

input[type="text"]{
    font-size: 34px;
}
#bandName {
    /* border: 1px solid white; */
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: rgba(164, 164, 255, 0.295)
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 451px) {
    h2 {
      font-size: 50px;
    }

    .message {
        font-size: 40px;
    }
}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 450px) {
    h2 {
        font-size: 40px;
      }

      .message {
        font-size: 20px;
    }
  }